.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 20px; /* Add padding to create space between left and right elements */
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 5px 10px;
  transition: width 0.3s ease-in-out;
}

.search-input {
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 10px;
  width: 0;
  transition: width 0.3s ease-in-out;
}

.search-input.expanded {
  width: 200px;
}

.search-icon {
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.navigation-tabs {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-tabs li {
  margin-right: 10px;
  cursor: pointer;
}

.app-name {
  font-size: 24px;
  font-weight: bold;
  margin-left: auto; /* Add auto margin to push app name to the right */
}

.content {
  display: flex;
  flex-direction: column; /* Update to vertical direction */
  align-items: center; /* Center align vertically */
  width: 100%;
}

.questions-sidebar {
  flex: 1;
}

.question-container {
  width: 100%; /* Adjust the width as needed */
  margin-bottom: 20px;
}

.question {
  padding: 10px;
  cursor: pointer;
  background-color: #f2f2f2;
  max-width: 100%; /* Add maximum width */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Add ellipsis (...) for truncated text */
  white-space: nowrap; /* Prevent wrapping of text */
}

.question.selected {
  background-color: #f2f2f2;
}

.main-body {
  flex: 3;
}

.default-message {
  margin-top: 20px;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}